{cover_enabled,true}.
{cover_export_enabled,true}.
{cover_print_enabled,true}.

{deps,[
    {cowboy,"0.9.0",{git,"git@github.com:extend/cowboy",{tag,"0.9.0"}}},
    {jiffy, "0.9.0",{git,"git@github.com:davisp/jiffy.git",{tag,"0.9.0"}}}
]}.

{edoc_opts,[{dir,"doc"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.
{erl_opts,[debug_info]}.
{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
{xref_checks,[undefined_function_calls,deprecated_function_calls]}.
