#global{
    width:100%;
    height:100%;
    background-color:#E6E6E6;
}

/*
------------------------------------------------------------
HEADER
------------------------------------------------------------
*/

#header p{
   
    
}
#header {
	position: relative;
	text-align:center;
	font-size:40px;
    color:#2067f5;
	width: 100%;
	margin-top: 5px;
	height: 60px;
	background-color: #BDBDBD;
	margin-bottom: 10px;
}

/*
------------------------------------------------------------
LEFT SCREEN SIDE
------------------------------------------------------------
*/

#left{
    background-color:#E6E6E6;
    z-index:0;
    width:78%;
    height:80%;
    float:left;
    margin:0px; 5px; 5px; 5px;

}

#log{
    background-color:#BDBDBD;
    z-index:1;
    width:18%;
    height:100%;
    float:left;
    margin:auto;
    border: 2px solid black;
	border-radius: 5px;
	display:inline;
	overflow: scroll;
	overflow-x: hidden;
	font-family:Arial;
	font-size:17px;
	color:#2067f5;
}

div#log::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
div#log::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

div#log::-webkit-scrollbar-thumb
{
	background-color: #0ae;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}



#card{
    background-color:blue;
    border: 2px solid black;
	border-radius: 5px;
	display:inline;
	float:left;
	margin:auto;
    width:80%;
    height:100%;    
    z-index:1;
}

#cardTable{
    border-collapse: separate;
    border-spacing: 2px 2px;
    border.radius: 5px;
    box-shadow:inset 0px 0px 19px 2px #1bb8d4;
    background-color:#2067f5;
	border:2px solid #0d2e91;
	color:#ccd1e0;
    display:inline;
    float:left;
    line-height:25%;
	margin:auto;	
    position:relative;
    table-layout: fixed;
    z-index:1;
    width:100%;
    height:100%; 
}

#cardTable td{
    border: 2px solid blue;
    border-radius: 5px;
    box-shadow:inset 0px 0px 19px 2px #1bb8d4;
    color:#ccd1e0;
    font-family:Arial;
	font-size:50px;
	font-weight:bold;
	font-style:normal;
    padding: 2px;
    text-indent:0px;
    text-align: center;
	text-decoration:none;
	text-shadow:1px 0px 38px #289deb;
}
td:hover{
    background-color:#083e9c;
}

td:active{
    position:relative;
	top:1px;
	background-color:#083e9c;
}



/*
------------------------------------------------------------
RIGHT SCREEN SIDE
------------------------------------------------------------
*/

#right{
    background-color:#E6E6E6;  
    float:right;
    margin:0px; 15px; 5px; 5px;
    margin-right:18px;
    z-index:0;
    width:19%;
    height:80%;
}

#display{
    background-color:#FFBF00;
    border: 2px solid black;
	border-radius: 150px;
    display:inline;
    float:right;
	font-family:Arial;
    margin: 5px; 5px; 5px; 5px;
	text-align:center;
	width:90%;
    height:33%;
    position:relative;
	
}
	
#display  p{
    color:blue;
    float:center;
    font-size:80px;
    font-family:Arial;
    text-align:center;
   
    
}

#bingoButton{
    border:2px solid #0d2e91;
    box-shadow:inset 0px 0px 19px 2px #1bb8d4;
	background-color:#2067f5;
	border-radius:21px;
	color:#ccd1e0;
	display:inline;
    float:right;
    font-family:Arial;
	font-size:40px;
	font-weight:bold;
	font-style:normal;
    margin: 5px; 15px; 5px; 5px;
	text-indent:0px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 38px #289deb;
	position:relative;
	width:90%;
    height:25%;
	z-index:1;
}

#bingoButton:hover {
	background-color:#083e9c;
}

#bingoButton:active {
	position:relative;
	top:1px;
}




#lineButton{
    border:2px solid #0d2e91;
    box-shadow:inset 0px 0px 19px 2px #1bb8d4;
	background-color:#2067f5;
	border-radius:21px;
	color:#ccd1e0;
	display:inline;
    float:right;
    font-family:Arial;
	font-size:40px;
	font-weight:bold;
	font-style:normal;
    margin: 5px; 15px; 5px; 5px;
    text-indent:0px;	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 38px #289deb;
	position:relative;
    width:90%;
    height:25%;
	z-index:1;
}

#lineButton:hover {
	background-color:#083e9c;
}

#lineButton:active {
	position:relative;
	top:1px;
}	


#regButton{
	border:2px solid #0d2e91;
	box-shadow:inset 0px 0px 19px 2px #1bb8d4;
	background-color:#2067f5;
	border-radius:21px;
	color:#ccd1e0;
	display:inline;
	float:right;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	margin: 5px; 15px; 0px; 5px;
    text-indent:0px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 38px #289deb;
	position:relative;
    width:45%;
    height:10.5%;
	z-index:1;
}

#regButton:hover {
	background-color:#083e9c;
}

#regButton:active {
	position:relative;
	top:1px;
}


#textbox{

    width:40%;
    margin-top:30px;
    margin-left:25px;
    border-radius: 5px;
    border: 2px solid black;
    color:blue;
    display:inline;
	font-family:Arial;
	font-size:20;
	padding-left:5px;
	float:left;
	position:relative;
}



